*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* display: block; */
    background-color: greenyellow;
    margin: 20px 30px;
}

.some_questions{
    text-align: center;
    padding: 30px 0;
}

.preamble{
    border: 10px solid white;
    border-radius: 10px;
    padding: 5px;
    background-color:white;
    margin-bottom: 30px;
    box-shadow: 10px 5px;
}

header{
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 60px;
    border: 2px solid white;
    margin-bottom: 15px;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(250, 176, 176);
}

hr{      /* commented out of HTML so its not working */
    margin-bottom: 10px;
    /* margin-top: -50px; */
}

section{
    /* background-color: white; */
    margin-bottom: 40px;

    border-radius: 10px;
    box-shadow: 5px 5px;
}

.answer{
    border: 10px solid white;
    border-radius: 10px;
    padding: 5px;
    background-color:white;
    display: none;
}

